/*=================================================================
    Company      : Eleven Digital Creative 
    Document     : CSS
    Author       : Muhamad Ambrikom Tidar
    Project Name : Eleven Digital Creative - Landing Page
    Year		 : 2019
=================================================================*/

// base sass, mixin + variable
@import 'base';

// global
@import 'reset';
@import 'grid';
@import 'utilities';
// @import 'fontface';

// main
@import 'main';
// @import 'animation';
